In [2]:
import pandas as pd

In [3]:
csv = pd.read_csv('data2.csv')

In [4]:
csv

,Unnamed: 0,kind,code,class_name,prof,room,date1,date2,start,end
0,0,교필,AK00055,비아메디아채플(나와타인이해하기),이남호,1505,월,NaN,11:00,11:50
1,1,교필,AK00055,비아메디아채플(리더십의영성),김한승,3501,월,NaN,11:00,11:50
2,2,교필,AK00055,비아메디아채플(서양음악사),박태영,M301,월,NaN,11:00,11:50
3,3,교필,AK00055,비아메디아채플(성공회이야기),노철래,3301,목,NaN,11:00,11:50
4,4,교필,AK00055,비아메디아채플(시각과영성),김돈회,M406,월,NaN,11:00,11:50
...,...,...,...,...,...,...,...,...,...,...
387,411,전필,XA00030,졸업지도,김덕봉,6201,수,NaN,18:00,18:50
388,414,전선,XE00004,고급머신러닝,홍성준,6405,목,NaN,09:00,11:50
389,415,전선,XE00005,고급Python프로그래밍,홍성준,6405,화,NaN,09:00,11:50
390,416,전선,XE00006,딥러닝프레임워크,이상윤,6405,월,수,13:30,14:45
391,417,전선,XE00007,확률과랜덤변수,이상윤,6405,월,수,16:30,17:45