room 모델을 위한 데이터 만들기

- kwan_name
- room
- floor
- room_image
- room_type ()

In [1]:
import pandas as pd
import numpy as np

In [2]:
csv = pd.read_csv('classes.csv')

In [3]:
csv

    kind     code   class_name prof   room date1 date2  start    end kwan_name
0     교선  AK00021           요가  정은송  5C301     금   NaN  10:00  10:50       나눔관
1     교선  AK00021           요가  정은송  5C301     금   NaN  11:00  11:50       나눔관
2     교선  AD00164        생활과발레  장소정  5C301     목   NaN  10:00  11:50       나눔관
3     전탐  VM00002    커뮤니케이션의이해  김서중   M205     월   NaN  15:00  17:50      미가엘관
4     전선  LB00018     영어로읽는한국1  권용현   M205     화   NaN  09:00  11:50      미가엘관
..   ...      ...          ...  ...    ...   ...   ...    ...    ...       ...
387   전탐  VI00001       C프로그래밍  이하규   6406     월     수  15:00  16:15     정보과학관
388   전탐  VI00016    Java프로그래밍  이하규   6406     월     수  16:30  17:45     정보과학관
389   전선  XC00033      사물인터넷응용  정인철   6406     월   NaN  09:00  11:50     정보과학관
390   전탐  VI00007      사물인터넷기초  유상신   6406     화     목  15:00  16:15     정보과학관
391   전선  XB00039  사물인터넷캡스톤디자인  유상신   6406     화   NaN  09:00  11:50     정보과학관

[392 rows x 10 columns]

In [4]:
data = csv.drop(csv.columns[0], axis=1)

In [5]:
data

        code   class_name prof   room date1 date2  start    end kwan_name
0    AK00021           요가  정은송  5C301     금   NaN  10:00  10:50       나눔관
1    AK00021           요가  정은송  5C301     금   NaN  11:00  11:50       나눔관
2    AD00164        생활과발레  장소정  5C301     목   NaN  10:00  11:50       나눔관
3    VM00002    커뮤니케이션의이해  김서중   M205     월   NaN  15:00  17:50      미가엘관
4    LB00018     영어로읽는한국1  권용현   M205     화   NaN  09:00  11:50      미가엘관
..       ...          ...  ...    ...   ...   ...    ...    ...       ...
387  VI00001       C프로그래밍  이하규   6406     월     수  15:00  16:15     정보과학관
388  VI00016    Java프로그래밍  이하규   6406     월     수  16:30  17:45     정보과학관
389  XC00033      사물인터넷응용  정인철   6406     월   NaN  09:00  11:50     정보과학관
390  VI00007      사물인터넷기초  유상신   6406     화     목  15:00  16:15     정보과학관
391  XB00039  사물인터넷캡스톤디자인  유상신   6406     화   NaN  09:00  11:50     정보과학관

[392 rows x 9 columns]

In [6]:
df = data[['room', 'kwan_name']]

In [7]:
df = df.drop_duplicates()

In [8]:
df

      room     kwan_name
0    5C301           나눔관
3     M205          미가엘관
6     M301          미가엘관
14    M401          미가엘관
23    M402          미가엘관
39    M403          미가엘관
46    M404          미가엘관
50    M406          미가엘관
60    M407          미가엘관
70      미정            미정
73    7202          새천년관
84    7204          새천년관
97    7205          새천년관
110   7206          새천년관
123   7207          새천년관
135   7208          새천년관
152   7301          새천년관
156   7302          새천년관
165   7303          새천년관
166   7304          새천년관
179   7305          새천년관
186   7306          새천년관
194   7307          새천년관
196   7308          새천년관
207   7309          새천년관
220   7417          새천년관
221   9101  성미가엘성당&피츠버그홀
222   9301  성미가엘성당&피츠버그홀
225   1502           승연관
230   1503           승연관
237   1504           승연관
245   1505           승연관
255   1506           승연관
260   3301           월당관
268   3302           월당관
273   3401           월당관
279   3402           월당관
291   3501           월당관
293   3502           월당관
301   B105           일만관
304   6109         정보과학관
309   6110         정보과학관
318   6201         정보과학관
333   6202         정보과학관
345   6206         정보과학관
353   6402         정보과학관
354   6403         정보과학관
366   6404         정보과학관
373   6405         정보과학관
382   6406         정보과학관

In [9]:
df['floor'] = np.where(
    df['room'] == '미정',
    None,
    df['room'].str[1]
)

In [10]:
data

        code   class_name prof   room date1 date2  start    end kwan_name
0    AK00021           요가  정은송  5C301     금   NaN  10:00  10:50       나눔관
1    AK00021           요가  정은송  5C301     금   NaN  11:00  11:50       나눔관
2    AD00164        생활과발레  장소정  5C301     목   NaN  10:00  11:50       나눔관
3    VM00002    커뮤니케이션의이해  김서중   M205     월   NaN  15:00  17:50      미가엘관
4    LB00018     영어로읽는한국1  권용현   M205     화   NaN  09:00  11:50      미가엘관
..       ...          ...  ...    ...   ...   ...    ...    ...       ...
387  VI00001       C프로그래밍  이하규   6406     월     수  15:00  16:15     정보과학관
388  VI00016    Java프로그래밍  이하규   6406     월     수  16:30  17:45     정보과학관
389  XC00033      사물인터넷응용  정인철   6406     월   NaN  09:00  11:50     정보과학관
390  VI00007      사물인터넷기초  유상신   6406     화     목  15:00  16:15     정보과학관
391  XB00039  사물인터넷캡스톤디자인  유상신   6406     화   NaN  09:00  11:50     정보과학관

[392 rows x 9 columns]

In [11]:
df = df.dropna(axis=0)

In [12]:
df

      room     kwan_name floor
0    5C301           나눔관     C
3     M205          미가엘관     2
6     M301          미가엘관     3
14    M401          미가엘관     4
23    M402          미가엘관     4
39    M403          미가엘관     4
46    M404          미가엘관     4
50    M406          미가엘관     4
60    M407          미가엘관     4
73    7202          새천년관     2
84    7204          새천년관     2
97    7205          새천년관     2
110   7206          새천년관     2
123   7207          새천년관     2
135   7208          새천년관     2
152   7301          새천년관     3
156   7302          새천년관     3
165   7303          새천년관     3
166   7304          새천년관     3
179   7305          새천년관     3
186   7306          새천년관     3
194   7307          새천년관     3
196   7308          새천년관     3
207   7309          새천년관     3
220   7417          새천년관     4
221   9101  성미가엘성당&피츠버그홀     1
222   9301  성미가엘성당&피츠버그홀     3
225   1502           승연관     5
230   1503           승연관     5
237   1504           승연관     5
245   1505           승연관     5
255   1506           승연관     5
260   3301           월당관     3
268   3302           월당관     3
273   3401           월당관     4
279   3402           월당관     4
291   3501           월당관     5
293   3502           월당관     5
301   B105           일만관     1
304   6109         정보과학관     1
309   6110         정보과학관     1
318   6201         정보과학관     2
333   6202         정보과학관     2
345   6206         정보과학관     2
353   6402         정보과학관     4
354   6403         정보과학관     4
366   6404         정보과학관     4
373   6405         정보과학관     4
382   6406         정보과학관     4

In [13]:
# 두 번째 자리 문자가 숫자가 아닌 경우는 c밖에 없음
df.loc[df['floor']=='C', 'floor'] = df['room'].str[2]

C:\Users\mirae\AppData\Local\Temp\ipykernel_1036\2706936903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['floor']=='C', 'floor'] = df['room'].str[2]

In [14]:
df

      room     kwan_name floor
0    5C301           나눔관     3
3     M205          미가엘관     2
6     M301          미가엘관     3
14    M401          미가엘관     4
23    M402          미가엘관     4
39    M403          미가엘관     4
46    M404          미가엘관     4
50    M406          미가엘관     4
60    M407          미가엘관     4
73    7202          새천년관     2
84    7204          새천년관     2
97    7205          새천년관     2
110   7206          새천년관     2
123   7207          새천년관     2
135   7208          새천년관     2
152   7301          새천년관     3
156   7302          새천년관     3
165   7303          새천년관     3
166   7304          새천년관     3
179   7305          새천년관     3
186   7306          새천년관     3
194   7307          새천년관     3
196   7308          새천년관     3
207   7309          새천년관     3
220   7417          새천년관     4
221   9101  성미가엘성당&피츠버그홀     1
222   9301  성미가엘성당&피츠버그홀     3
225   1502           승연관     5
230   1503           승연관     5
237   1504           승연관     5
245   1505           승연관     5
255   1506           승연관     5
260   3301           월당관     3
268   3302           월당관     3
273   3401           월당관     4
279   3402           월당관     4
291   3501           월당관     5
293   3502           월당관     5
301   B105           일만관     1
304   6109         정보과학관     1
309   6110         정보과학관     1
318   6201         정보과학관     2
333   6202         정보과학관     2
345   6206         정보과학관     2
353   6402         정보과학관     4
354   6403         정보과학관     4
366   6404         정보과학관     4
373   6405         정보과학관     4
382   6406         정보과학관     4

In [15]:
len(df)

49

In [16]:
df = df.drop_duplicates()

In [17]:
len(df)

49

In [18]:
df['room_image'] = None

In [19]:
df['room_type'] = None

In [20]:
df

      room     kwan_name floor room_image room_type
0    5C301           나눔관     3       None      None
3     M205          미가엘관     2       None      None
6     M301          미가엘관     3       None      None
14    M401          미가엘관     4       None      None
23    M402          미가엘관     4       None      None
39    M403          미가엘관     4       None      None
46    M404          미가엘관     4       None      None
50    M406          미가엘관     4       None      None
60    M407          미가엘관     4       None      None
73    7202          새천년관     2       None      None
84    7204          새천년관     2       None      None
97    7205          새천년관     2       None      None
110   7206          새천년관     2       None      None
123   7207          새천년관     2       None      None
135   7208          새천년관     2       None      None
152   7301          새천년관     3       None      None
156   7302          새천년관     3       None      None
165   7303          새천년관     3       None      None
166   7304          새천년관     3       None      None
179   7305          새천년관     3       None      None
186   7306          새천년관     3       None      None
194   7307          새천년관     3       None      None
196   7308          새천년관     3       None      None
207   7309          새천년관     3       None      None
220   7417          새천년관     4       None      None
221   9101  성미가엘성당&피츠버그홀     1       None      None
222   9301  성미가엘성당&피츠버그홀     3       None      None
225   1502           승연관     5       None      None
230   1503           승연관     5       None      None
237   1504           승연관     5       None      None
245   1505           승연관     5       None      None
255   1506           승연관     5       None      None
260   3301           월당관     3       None      None
268   3302           월당관     3       None      None
273   3401           월당관     4       None      None
279   3402           월당관     4       None      None
291   3501           월당관     5       None      None
293   3502           월당관     5       None      None
301   B105           일만관     1       None      None
304   6109         정보과학관     1       None      None
309   6110         정보과학관     1       None      None
318   6201         정보과학관     2       None      None
333   6202         정보과학관     2       None      None
345   6206         정보과학관     2       None      None
353   6402         정보과학관     4       None      None
354   6403         정보과학관     4       None      None
366   6404         정보과학관     4       None      None
373   6405         정보과학관     4       None      None
382   6406         정보과학관     4       None      None

In [21]:
data = df[['kwan_name','room','floor','room_image','room_type']]

In [24]:
data

        kwan_name   room floor room_image room_type
0             나눔관  5C301     3       None      None
3            미가엘관   M205     2       None      None
6            미가엘관   M301     3       None      None
14           미가엘관   M401     4       None      None
23           미가엘관   M402     4       None      None
39           미가엘관   M403     4       None      None
46           미가엘관   M404     4       None      None
50           미가엘관   M406     4       None      None
60           미가엘관   M407     4       None      None
73           새천년관   7202     2       None      None
84           새천년관   7204     2       None      None
97           새천년관   7205     2       None      None
110          새천년관   7206     2       None      None
123          새천년관   7207     2       None      None
135          새천년관   7208     2       None      None
152          새천년관   7301     3       None      None
156          새천년관   7302     3       None      None
165          새천년관   7303     3       None      None
166          새천년관   7304     3       None      None
179          새천년관   7305     3       None      None
186          새천년관   7306     3       None      None
194          새천년관   7307     3       None      None
196          새천년관   7308     3       None      None
207          새천년관   7309     3       None      None
220          새천년관   7417     4       None      None
221  성미가엘성당&피츠버그홀   9101     1       None      None
222  성미가엘성당&피츠버그홀   9301     3       None      None
225           승연관   1502     5       None      None
230           승연관   1503     5       None      None
237           승연관   1504     5       None      None
245           승연관   1505     5       None      None
255           승연관   1506     5       None      None
260           월당관   3301     3       None      None
268           월당관   3302     3       None      None
273           월당관   3401     4       None      None
279           월당관   3402     4       None      None
291           월당관   3501     5       None      None
293           월당관   3502     5       None      None
301           일만관   B105     1       None      None
304         정보과학관   6109     1       None      None
309         정보과학관   6110     1       None      None
318         정보과학관   6201     2       None      None
333         정보과학관   6202     2       None      None
345         정보과학관   6206     2       None      None
353         정보과학관   6402     4       None      None
354         정보과학관   6403     4       None      None
366         정보과학관   6404     4       None      None
373         정보과학관   6405     4       None      None
382         정보과학관   6406     4       None      None

In [22]:
# room 데이터 저장

In [23]:
data.to_csv('room.csv', encoding='utf-8-sig', index=None)